body {
    font-family: sans-serif;
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: left;
    margin-left: 40px;
}

h1 {
    text-align: center;
    color: brown;
    margin-left: 5px;
}

div {
    background-color: azure;
}
p {
    text-align: left;
    border-left: 4px solid brown;
    color: darkslategray;
    /*margin-left: 20px;*/
}