body {
    font-family: sans-serif;
    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 80px;
}

h1 {
    text-align: center;
    color: brown;
    margin-left: 5px;
}

div {
    background-color: azure;
}
p {
    text-align: left;
    border-left: 4px solid brown;
    color: darkslategray;
    /*margin-left: 20px;*/
}