body {
    font-family: sans-serif;
    background-color:azure;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
}

h1 {
    text-align: center;
    color: brown;
    margin-left: 5px;
}

div {
    background-color: azure;
}
p {
    text-align: left;
    border-left: 4px solid brown;
    color: darkslategray;
    /*margin-left: 20px;*/
}